body {
    margin: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #37264c;
    color: #ffff;
}

.about-body {
    background-color: #ffff;
    color: #37264c;
}

header {
    margin: 0;
}

h1 {
    font-size: 80px;
    margin: 0;
}

hr {
    margin: 0 5px;
}

.home-info {
    margin: 50px 100px;
    padding: 30px 30px 40px;
    text-align: left;
}
h2 {
    font-size: 50px ;
    margin: 100px 0;
}

.hello-world {
    margin-bottom: 20px;
}

h3 {
    font-size: 25px;
}

button {
    border: none;
    padding: 20px;
    border-radius: 3px;
    width: 130px;
}

.hire-btn {
    background: #F7DD72;
}


.resume-btn{
}


.my-title {
    font-size: 30px;
}

.img-div {
   width: 400px;
   margin: auto 0;

}



ul {
    text-align: right;
    font-size: 15px;
    padding-right: 40px;
    /* width: 100%; */

}

.hire-btn:hover {
    color: black;
}

.resume-btn > a {
    color: black;
    text-transform: uppercase;
}


li {
    display: inline-block;
    margin: 0 20px;

}

.about-nav:hover{
    color: #F7DD72;
    border-bottom: 1px solid white;
}


a {
    color: #ffff;
    text-decoration: none;
}

.about-nav {
    color: #37264c;
}
.design-article {
    text-align: center;
    height: 0;
}




article {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    height: 200px;
}


.design-img {
    width: 200px;
    border-radius: 100px;
    float: right;
    margin-right: 60px;
}

.about-paragraph {
    padding-top: 70px;
    font-size: 20px;

}

.development-img {
    width: 200px;
    border-radius: 100px;
    float: left;
}

fieldset {
    width: 50%;
    margin: 50px auto;
    height: 60%;
    background-color: #ffff;
    color: #37264c;
    text-align: left;
    border-radius: 20px;
}

.contact-div  {
    width: 90%;
    font-size: 20px;
    margin: 20px auto;
}

input {
    width: 100%;
    height: 30px;
    margin: 5px 0;
}

input:hover {
    box-shadow: 0 0 10px darkblue ;

}

.email-btn {
    background-color: #37264c;
    width: 91%;
    margin: 0 auto;
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
}


.about-contact {
    color: #ffff;
}




.checkbox-div {
    margin-left: 50px ;
    padding-bottom: 20px;
}

input[type="checkbox"] {
    width: 30px;
}

footer {
    margin-top: 12%;
    margin-bottom: 4%;
}

.footer-list {
    text-align: center;

}


.fb-logo {
    width: 70px;
    margin-bottom: 2px;



}

.twitter-logo {
    width: 40px;
    border-radius: 50px;
    margin: 5px 10px;


}

.linkdin-logo {
    width: 38px;
    border-radius: 0;
    margin: 5px 10px;

}


.insta-logo {
    width: 40px;
    border-radius: 40px;
    margin: 5px 10px;

}

.youtube-logo {
    width: 40px;
    margin: 5px 10px;
    border-radius: 30px;
}


.page3-body {
    background: #ffff;
}

/* Last page design and layouts */

.container {
    width: 90%;
    padding-left: 30px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    align-items: center;

}

.container > img {
    width: 300px;
    padding: 0;
    margin-top: 10px;
}


.pic-label {
    color: #37264c;
    display: inline;
    font-size: 20px;
}

.page3-h1{
    color: #37264c;
    margin-bottom: 20px;
}

@media (max-width: 500px) {
    body {
        width: 400px;
        padding: 0;
    }
    h1 {
        font-size: 20px;
        margin-top: 5px;
    }

    header {
        text-align: center;
    }

    .hello-world {
        font-size: 20px;
        margin-bottom: 0;
    }

    .my-title {
        font-size: 15px;
    }

    .home-info {
        margin: 0 auto;
    }



    .hire-btn, .resume-btn {
        font-size: 10px;
        width: 70px;
        height: 40px;
        padding: 0 2px;

    }

    .img-container {
        text-align: center;
    }

    .img-div {
        width: 10em;
        margin: 0;

    }

    .footer-list img {
        margin: 0;
        padding: 0;
        width: 3em;
    }

}
